name: Release

on:
  push:
    tags:
      - v*.*.*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install dependencies
        run: composer install

      - name: Compile package
        run: vendor/bin/box compile

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: dist/auth-vatsim.phar
